@font-default: Roboto, sans-serif;

@color-bg: #f5f6fa;
@color-header: #182C61;
@color-white: #fff;

@color-button: #44bd32;
@color-button-hover: #4cd137;

@radius-small: 8px;
@radius-medium: 16px;

@container-width: 1024px;